build/
cmake-build-*/
out/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.user
*.opensdf
*.sdf
.idea/
.vscode/
*.iml
.ninja_deps
.ninja_log
rules.ninja
build.ninja
.DS_Store
*.obj
*.exe
*.pdb
*.ilk
*.log
*.swp
*.bak
*.tmp
